@import url('https://fonts.googleapis.com/css2?family=Allura&family=Audiowide&family=Delicious+Handrawn&family=Indie+Flower&family=Orbitron:wght@400..900&family=Saira+Stencil+One&family=Shadows+Into+Light+Two&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Silkscreen:wght@400;700&family=Sriracha&family=Tangerine:wght@400;700&family=The+Girl+Next+Door&display=swap');
:root  {
    --easy: #a9fbd79c;
    --medium: #fedc979c;
    --hard: #e396969c;
}

body {
    padding: 8px;
    font-family: "Orbitron", sans-serif;
    background: linear-gradient(to right bottom, 
    #FFCCCC, #adffad, #adadff);
    color: rgb(20, 20, 20);
}

* {
    transition: ease-in 200ms;
}

h1 {
    text-align: center;
    text-decoration: underline wavy #000 1px;
}

h2 {
    text-decoration: underline wavy #000 1px;
}

#help {
    text-align: center;
}

#seconds {
    text-decoration: underline wavy #000 1px;
}

.helpColor:hover {
    text-decoration: underline wavy 1px;
}

.instructions {
    text-decoration-thickness: 1px;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    font-weight: 800;
}

.container {
    display: flex;
}
.sub {
    flex: 1;
}
.colorTiles {
    flex: 1;
    height: 50%;
}
.colorTiles:hover {
    transform: scale(110%);
}

.blocked:hover {
    cursor: not-allowed;
    transform: none;
}

.button-level {
    align-items: center;
    text-align: center;
}
button {
    font-family: "Silkscreen", serif;
    font-weight: 400;
    font-size: 2rem;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 28px;
    padding-right: 28px;
    border-radius: 8px;

    cursor: pointer;
    transition: ease-in 150ms;

    margin: 0 0.5rem;
}

.easy {
    background-color: var(--easy);
    
}

.medium {
    background-color: var(--medium);
}

.hard { 
    background-color: var(--hard);
}