@import url('https://fonts.googleapis.com/css2?family=Allura&family=Audiowide&family=Indie+Flower&family=Orbitron:wght@400..900&family=Saira+Stencil+One&family=Shadows+Into+Light+Two&family=Sriracha&family=The+Girl+Next+Door&display=swap');
body {
    padding: 8px;
    font-family: "Orbitron", sans-serif;
    background: linear-gradient(to right bottom, 
    #FFCCCC, #adffad, #adadff);
    color: rgb(20, 20, 20);
}

h1 {
    text-align: center;
    text-decoration: underline wavy #000 1px;
}

h2 {
    text-decoration: underline wavy #000 1px;
}

.help {
    text-align: center;
}

.seconds {
    text-decoration: underline wavy #000 1px;
}

.helpColor:hover {
    text-decoration: underline wavy 1px;
}

.instructions {
    text-decoration-thickness: 1px;
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

.container {
    display: flex;
}
.sub {
    flex: 1;
}
.colorTiles {
    flex: 1;
    height: 50%;
}
.colorTiles:hover {
    transform: rotate(5deg);
}