@import url('https://fonts.googleapis.com/css2?family=Allura&family=Audiowide&family=Delicious+Handrawn&family=Indie+Flower&family=Orbitron:wght@400..900&family=Saira+Stencil+One&family=Shadows+Into+Light+Two&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Silkscreen:wght@400;700&family=Sriracha&family=Tangerine:wght@400;700&family=The+Girl+Next+Door&display=swap');
:root  {
    --highlight-mask: linear-gradient(to right bottom, #ff4444, #44ff44, #4444ff);

    --easy-bg: linear-gradient(to right bottom, #44aa44, #44aaef);
    --medium-bg: linear-gradient(to right bottom, #aaaa00, #aa8200);
    --hard-bg: linear-gradient(to right bottom, #aa4444, #aa44ef);
    --custom-bg: linear-gradient(to right bottom, #4496aa, #aa44ef);

    --black: rgb(20, 20, 20);
    --window-color: #111111;
    --white: #FFFFFF;
    --grey: #1d1d1d;

    --orbitron: "Orbitron", sans-serif;
}

body {
    padding: 8px;
    font-family: var(--orbitron);
    background-color: var(--black);
    color: var(--white);
}

#body {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "title title"
    "rules levels"
    "footer footer";
}

#title-game {
    grid-area: title;
}

#rules {
    grid-area: rules;
}

* {
    transition: ease-in 200ms;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

#rules h2 {
    font-size: 2rem;
}
#rules p {
    font-size: 1.2rem
}

#help {
    text-align: center;
}

.helpColor:hover {
    text-decoration: underline wavy 1px;
}

.instructions {
    text-decoration-thickness: 1px;
    font-weight: 800;
    background-image: var(--highlight-mask);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    

}

#window {
    width: fit-content;
    height: fit-content;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    align-items: center;

    background-color: var(--window-color);
    border: var(--white) 0.2rem solid;

    box-shadow: #7e7e7e 0 0 100vh;
}

#window button {
    width: fit-content;
    height: fit-content;
    padding: 2px;
    font-size: 1rem;
    font-family: var(--orbitron);

    background-color: var(--window-color);

    background-image: var(--highlight-mask);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#window > button {
    margin: 9px 0px;
}

.container {
    display: flex;
    height: fit-content;
    width: 100vh;
    justify-content: center;
}
.sub {
    flex: 1;
    width: fit-content;
    height: fit-content;
}
.colorTiles {
    flex: 1;
    height: 50px;
}
.colorTiles:hover {
    transform: scale(110%);
}

.blocked:hover {
    cursor: not-allowed;
    transform: none;
}

#button-level, #button-custom-levels {
    grid-area: levels;

    align-items: center;
    text-align: center;

    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
}

#button-level button, #button-custom-levels button {
    width: 15%;
}

button {
    font-family: "Silkscreen", serif;
    font-weight: 400;
    font-size: 2rem;

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 4px;

    cursor: pointer;
    transition: ease-in 150ms;

    margin: 1rem 0.5rem 0;
    color: var(--white);
}

button:hover {
    transform: scale(105%);
}

button:disabled {
    cursor: not-allowed;
}

button:disabled:hover {
    transform: none;
}

.easy {
    background-image: var(--easy-bg);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.medium {
    background-image: var(--medium-bg) ;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hard {
    background-image: var(--hard-bg);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.custom {
    background-image: var(--custom-bg);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#coming-soon {
    font-size: 1rem;
    background-color: var(--window-color);
    
    background-image: var(--highlight-mask);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}
dialog {
    background-color: var(--window-color);
    color: var(--white);
}

#close-dialog {
    background-image: var(--highlight-mask);
    color: var(--white);
    border-radius: 50%;
    font-size: 1rem;
    padding: 4px;
}

footer {
    grid-area: footer;
    text-align: center;
    font-size: 1.4rem;
}

a {
    color: var(--white);
}

a:hover {
    color: var(--grey);
}

a:visited {
    color: var(--white);
}

#create-level {
    text-decoration: underline solid var(--white);
}
#create-level:hover {
    cursor: pointer;
}

#create-level-form {
    width: fit-content;
    height: fit-content;
}

#inputs-color {
    display: flex;
    justify-content: space-evenly;
}

.palette {
    margin: 0 2rem;
    width: 160px;
}

.palette h1 {
    font-size: 1.2rem;
    text-align: left;
}

.palette p {
    font-size: 0.8rem;
}

input[type="color"] {
    appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    width: 80px;
    height: 80px;
}

input[type="color"]:hover {
    cursor: pointer;
    transform: scale(105%);
}

input[type="color"]:disabled {
    opacity: 20%;
}

input[type="color"]:disabled:hover {
    cursor: not-allowed;
    transform: none;
}

input[type="text"] {
    background-color: var(--window-color);
    border: none;
    padding: 8px;
    margin: 0 0 0 8px;
    color: var(--white);
}

#input-infos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#input-infos button {
    width: fit-content;
    height: fit-content;
    padding: 2px;
    font-size: 1rem;
    font-family: var(--orbitron);

    background-color: var(--window-color);

    background-image: var(--highlight-mask);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    margin: auto;
}

#create-level-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--grey);
    border: var(--white) solid 4px;
    border-radius: 12px;
    padding: 20px;
}
